WebApi/WebService/WebClient/Service References/ImageService/ImageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FindWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="line" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindWordResult" type="tns:Word" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Word">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Wnid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Count" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Popularity" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindWordSoapIn">
    <wsdl:part name="parameters" element="tns:FindWord" />
  </wsdl:message>
  <wsdl:message name="FindWordSoapOut">
    <wsdl:part name="parameters" element="tns:FindWordResponse" />
  </wsdl:message>
  <wsdl:portType name="ImageWebServiceSoap">
    <wsdl:operation name="FindWord">
      <wsdl:input message="tns:FindWordSoapIn" />
      <wsdl:output message="tns:FindWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageWebServiceSoap" type="tns:ImageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindWord">
      <soap:operation soapAction="http://tempuri.org/FindWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageWebServiceSoap12" type="tns:ImageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindWord">
      <soap12:operation soapAction="http://tempuri.org/FindWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageWebService">
    <wsdl:port name="ImageWebServiceSoap" binding="tns:ImageWebServiceSoap">
      <soap:address location="http://localhost:56876/ImageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageWebServiceSoap12" binding="tns:ImageWebServiceSoap12">
      <soap12:address location="http://localhost:56876/ImageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>