WCFParser/WebClient/WebClient/Service References/ImageService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageService" />
  <xs:element name="TestWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImageService" minOccurs="0" name="TestWordResult" nillable="true" type="q1:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="line" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImageService" minOccurs="0" name="FindWordResult" nillable="true" type="q2:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>